<table class="container" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
    <td bgcolor="#afafaf" style="padding:4px 4px; background-color: #e87536;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
        <tr>

          <td style="text-align: center; font-family:'Poppins',verdana; font-size: 15px; padding: 10px; line-height: 22px; color: #fff; background-color: #e87536; ">
            <span class="appleLinks" style="color:#FFFFFF;"> Captain's Club #: 746084442 | Loyalty Tier: CLASSIC<br> 
              Booking #: 8093456</span>
          </td>

        </tr>
      </table>
    </td>
  </tr> 
</table>