<table bgcolor="#002859" bgcolor="#002859" class="container" style="background-color:#002859; border-collapse:collapse; background: #002859;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr>
    <td style="background: #002859; padding-top: 30px;" align="center">
      <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-top: 1px solid #ffffff;">
        <tbody><tr>
          <td height="5">
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px; border: 0px; margin: 0px; padding-bottom: 30px;">
      <table border="0" cellpadding="0" cellspacing="0" align="center" width="600" style="max-width:600px;" class="container">
        <tbody><tr>
          <td style="background:#002859;" align="center">
            <table width="80%" align="center" cellpadding="0" cellspacing="0" border="0" style="text-align:center; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif', 'Poppins'; font-weight: 500;">
              <tbody><tr>
                <td height="40">
                  <font color="#ffffff">FOLLOW &amp; SHARE #CELEBRITYCRUISES
                  </font>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td align="center" style="background: #002859; padding-top: 10px; padding-bottom: 10px;">
            <table width="360" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6Ijk0MzI5ZDY0LTM5YTQtNDVmNS04NTI3LTRkYzcwZDEwNGMyMiIsImRla1ZlcnNpb24iOjEsIml2IjoiV0RNTThxTUVLQkFrMU5EclUrTXdWZz09IiwiY2lwaGVyVGV4dCI6IndreU9jRHlEQnV2ZnNQeU1KaDI5Nm9rRFpXMUhhaXNlM2tRZmF0eGowQ1lTN0JEWTlCNWR5aUhTQUo3VDZPQ0g5eWFhemQwTXhMSzRUQWJ3NjEyNUh5UmUxYmtPK0JpMHpWZ3pEUEtqQkNnUUpOVFE2MVBqTUZZPSIsImF1dGhUYWciOiJUQWJ3NjEyNUh5UmUxYmtPK0JpMHpRPT0ifQ%3D%3D">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/d3b2b77b-23d0-409c-b0e0-4f1bcf661e06.png" width="30" align="middle" alt="Instagram">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6Ijk3OTUxYjJhLTU0OTAtNDljMi1hN2U1LTg0NTNjZjk2ODRmNiIsImRla1ZlcnNpb24iOjEsIml2IjoiQnV1bzQrWi9OR0xYLzF0VkdPWXkyQT09IiwiY2lwaGVyVGV4dCI6Imx5aXBzb3l4R0pDVlRKRGxtWkwvdkR3Ykc0Njc0dDMrS0Q4YlA4ZUhmNHo3YVVMOEkwNFU2QTFqTDFQVHB2MCtpd0l5WW5WTWlZOEYxNlI4dUNJemcvWmthaEt3NVZjUG5RYnJxT1BtZnpSaTEvOWJWUmptTXRnPSIsImF1dGhUYWciOiIxNlI4dUNJemcvWmthaEt3NVZjUG5RPT0ifQ%3D%3D">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/6230a73b-8fa4-4444-ae46-6e3a48ecc54d.png" width="30" align="middle" alt="Facebook">
                  </a>
                </td>
                <td width="35" align="center" valign="middle" style="width: 10% !important;">
                  <a href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjdmMGNlMjE1LTdiYjgtNGZmYS05MGY0LTUzZDBkYzFkMTgyMCIsImRla1ZlcnNpb24iOjEsIml2IjoiZmxuemFScmM3SzRpV0RFclNRSUpkZz09IiwiY2lwaGVyVGV4dCI6IjVRalVHdkMzbG1XUUZkd0NoTmp0bUNKbnNjRktrd252T1JUbmMrZy9pYXFDelU5Y3AvbHNCYldxWG9LSHZwM0dhaFZVZjk2Ky9qb09YU3lFOVVwNkdpVUJlcjY5dDNyRFpuNVo4MmthM095dUlsZ3hLMGtDQ1hZPSIsImF1dGhUYWciOiJYU3lFOVVwNkdpVUJlcjY5dDNyRFpnPT0ifQ%3D%3D" target="_blank">
                    <img src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/26fc7207-b0a5-4ce0-bef6-f161733d4f14.png" align="middle" alt="TIKTOK" width="25" border="0">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjE1NTg5ZWJmLTVmZmEtNDA0Ni1iZmFiLTJhYzI0NDk3NGRhZiIsImRla1ZlcnNpb24iOjEsIml2IjoiN3NGSlVFMDAzVmwvVUVIczlDNlFBZz09IiwiY2lwaGVyVGV4dCI6IjNWT0RZWGtJTlhHYWpSR2VqWkhFNy9mcmhqVnU5eFlMU1N4eXUwY2wybTczU29NRlJEM05rc2VtOHpBQWdocXBkUFkzR0ZaVkNaajlkc0hmemVxV1BDNWFXQTNVUENzSTQrN0JTVkJOTk4xWmYxQkI3UFF1a0FJPSIsImF1dGhUYWciOiJkc0hmemVxV1BDNWFXQTNVUENzSTR3PT0ifQ%3D%3D">
                    <img src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/98347b3b-497b-4bf2-9b4e-c70bf982bffb.png" align="middle" alt="YouTube" width="30" border="0">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjM0MWE5NzcxLTNjMTQtNGRlOC05ZWYzLWIxY2I4OWE3ZjkyZCIsImRla1ZlcnNpb24iOjEsIml2IjoieDR2RnFrWmV2ZDBmT1NLVnpOOG9HZz09IiwiY2lwaGVyVGV4dCI6IjFoeS96dTVVYSswdWhWQ0FZenp5QjJJUzVUdWtWb21YQ3hHemFTYTFqOWtONGJYZkZvbThOSkNyZkhEMmUvbHRLMTNpMGxXZHk1b3A1UUZhNEtEUlBvdWFtS1dRSmhwREFzZUx4YXBHWHIzZEh6a2lsY3pmS0JvPSIsImF1dGhUYWciOiI1UUZhNEtEUlBvdWFtS1dRSmhwREFnPT0ifQ%3D%3D">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/9b31aa3d-88f1-410d-bb90-16384d3407de.png" width="30" align="middle" alt="Pinterest">
                  </a>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="background: #002859" align="center">
            <table class="mobile-border-bottom" width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-bottom: 1px solid #ffffff">
              <tbody><tr>
                <td height="10">
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="background:#002859; background-color:#002859;">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%" style="max-width: 100%;" bgcolor="#002859">
              <!-- Separation -->
              <!-- Separation -->
              <tbody>
                <tr>
                  <td width="22.5%" valign="bottom" align="center" class="hide">
                    <table style="border-bottom: 1px solid #FFFFFF;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td height="25" style="background:#002859; background-color:#002859;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td height="0" width="55%" valign="bottom" align="center" class="container" style="background:#002859; background-color:#002859;">
                    <table style="border-bottom: 1px solid #002859;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td align="center" valign="bottom" style="color:#FFFFFF;">
                            <p class="mobile-text-size" style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif', 'Poppins'; font-weight:500; color: #FFFFFF; margin: 0; margin-bottom: -10px; letter-spacing: 1px;">THE ROYAL CARIBBEAN GROUP
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td valign="bottom" width="22.5%" align="center" class="hide">
                    <table style="border-bottom: 1px solid #FFFFFF;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td height="25" style="background:#002859; background-color:#002859;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="mobile-padding-0-20" align="center" style="background: #002859;">
            <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center" class="mobile-border" style="border: 1px solid #ffffff; border-top: #002859;">
              <tbody><tr>
                <td>
                  <!-- Desktop -->
                    <table cellpadding="0" cellspacing="0" width="90%" align="center" role="presentation" class="hide">
                      <tbody><tr>
                        <td style="padding-bottom:0px;">
                          
                          <table cellspacing="0" cellpadding="0" role="presentation">
                            <tbody><tr>
                              <td width="30%" align="center" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjQyNWY5MGNjLTJlZWMtNGVlZi1iMzYzLTc3MWI1YTU2OTVmNSIsImRla1ZlcnNpb24iOjEsIml2IjoiQThoOXFWdnk5N0xmOFY0NmJVTDJJdz09IiwiY2lwaGVyVGV4dCI6InBsZXZpcElZRUJ3VHFPV0lXQnRzNkZZakJXWEN1ZWFpRzBabjNPdjZoMU16ZlZJTWJweEVzcFd4YjVmT1dsVFNEUFFsNWhNbHRsUTJDa1BUdUdCWWZqdS9ZeEpNWmU0WDdRUElmYWxiOHZleTMvRmVPbTFDOWlNPSIsImF1dGhUYWciOiJDa1BUdUdCWWZqdS9ZeEpNWmU0WDdRPT0ifQ%3D%3D">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/bd301173-dca9-4d4b-9ee2-01e8869d85ba.png" width="130" align="middle" alt="Social Royal Caribbean">
                                </a>
                              </td>
                              <td width="30%" align="center" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjkxMGY3NTZkLTIzOWEtNDdjMi05Y2RmLTY0ZWNlZTI4NDI3ZCIsImRla1ZlcnNpb24iOjEsIml2IjoiamI3aTErdUNOeVZnMUxGbnZ0eVVTUT09IiwiY2lwaGVyVGV4dCI6IlMxNERSNzY5bGV4QVF1MnVsbUZubThqRmM1elBESTJYUStacmN6b09pdzVBTnoxZ0pQNEIzcWtiV3h1OWxuTzR1cU5oOUdGZy9VZ0p0WEhaUUEwN2ZqcFMrY3ova3pDOTJJMis0dGZyZ2pjbFlOU3haNzdjbEVrPSIsImF1dGhUYWciOiJ0WEhaUUEwN2ZqcFMrY3ova3pDOTJBPT0ifQ%3D%3D">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/aa859369-8cdb-4ccb-9561-af09bc5a69a1.png" width="130" align="middle" alt="Social Celebrity Cruises">
                                </a>
                              </td>
                              <td width="30%" align="center" valign="middle" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImJmMzAzMWRiLTYxZjktNGJjOC1hNGRjLTcxNTU1NzFlZTE2ZiIsImRla1ZlcnNpb24iOjEsIml2IjoiYjZ1cTQ2R29XZWVmbkNielhGMFRjdz09IiwiY2lwaGVyVGV4dCI6InZXMGVBd0xrYXljQkRlRmN2cEM3NjdZVDVsS25SbDZnTml1WG16ZGNLbGV6Tk8yUlQzWHdNRVhXdVJBcHU3RUNsb1VrMVpWVGhicXpSTUJYZTZkQmVxa1ptY1p2SnBmcWNtK3JxdU9ocUZubm41d204MXhkRTNNPSIsImF1dGhUYWciOiJSTUJYZTZkQmVxa1ptY1p2SnBmcWNnPT0ifQ%3D%3D">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/451f80a1-f13f-4435-98af-506c9529e67d.png" width="130" align="middle" alt="Social Silversea">
                                </a>
                              </td>
                            </tr>
                          </tbody></table>
                          
                        </td>
                      </tr>
                    </tbody></table>
                    <!--[if !mso]><!-->
                    <!--Mobile-->
                    <div class="show" style="display: none;max-height : 0px; overflow: hidden; line-height: 0px;">
                      <table cellpadding="0" cellspacing="0" width="36%" align="center" role="presentation" class="show" style="display: none">
                        <tbody><tr width="100%">
                          <td width="100%" style="padding-bottom:0px; padding-top: 20px;">
                            
                            <table cellspacing="0" width="100%" cellpadding="0" role="presentation" style="width: 100%;">
                              <tbody><tr>
                                <td align="center" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjAxYzViOGFkLTNjOGUtNGEyZC1hZjRjLWVlNjRmNjY0NjNhZSIsImRla1ZlcnNpb24iOjEsIml2IjoiRjEydFRJYUFhRmwvbEJ2OFhRcnhDdz09IiwiY2lwaGVyVGV4dCI6IlpnSEgzVTJxaFp6aW50VndBTTdwNTZKRUxiblMwcVdiY0pXYWtTTmhiWG1nRGc2TXpIYkppU21sc1dHOUtLbUlkUXlCVThNb0dXNFFia0NkZGRyRElTcHF1cmdySFVwRUNoZGRyVXlHZ0doWmY1UWIvRjBLOFFzPSIsImF1dGhUYWciOiJia0NkZGRyRElTcHF1cmdySFVwRUNnPT0ifQ%3D%3D">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/bd301173-dca9-4d4b-9ee2-01e8869d85ba.png" width="130" align="middle" alt="Social Royal Caribbean">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImFmNTljNGQ3LTMzYzctNDg1MC1hMjA5LTE4ZTY3ZDMxOTc5MiIsImRla1ZlcnNpb24iOjEsIml2IjoiTFI5cG5EcW1HV2NBTVBSTG9pcTBPUT09IiwiY2lwaGVyVGV4dCI6IkdMUzdERDhhSG9WRTVXcXhSUERlZmRmb2dpSnpyRnRaTXlJTGlYYkxPV2RSUk50QVpYaDVRbHcvVUNhK242azBmSURlMUx4V0lIdkxBbW5hREcyT0ppQTFYNmxxcVorS0ZpMGZhWnc2cGhsbkFERDBTNklxdERrPSIsImF1dGhUYWciOiJBbW5hREcyT0ppQTFYNmxxcVorS0ZnPT0ifQ%3D%3D">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/aa859369-8cdb-4ccb-9561-af09bc5a69a1.png" width="130" align="middle" alt="Social Celebrity Cruises">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="middle" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjMxYzIxMmI1LTRjZmMtNGQ3OS1iOGFhLTc5MjhjNWQ5MWUwMyIsImRla1ZlcnNpb24iOjEsIml2IjoiUkQ5Z09kblAxRTllZGNvMUJ0ZVY4Zz09IiwiY2lwaGVyVGV4dCI6ImxZYzZaajdsOXRpdlNOMnRPS2FBSzhkSTdiMkJWTkVtcmxiUmE2NHQwTEtWenR2emJtb1lRK2U4dFNZWHp2aHNIS1Jwb3dvTDUveU1idmRlUkN3VFpOOElDMGdnN2NFUk0wUS9ZRG5aejlSUFhuWEtOUWJYbGZJPSIsImF1dGhUYWciOiJidmRlUkN3VFpOOElDMGdnN2NFUk13PT0ifQ%3D%3D">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/451f80a1-f13f-4435-98af-506c9529e67d.png" width="130" align="middle" alt="Social Silversea">
                                  </a>
                                </td>
                              </tr>
                            </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                    </div>
                    <!--<![endif]-->
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>

<table style="border-collapse:collapse;" class="container" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center">
  <tbody><tr>
    <td style="padding: 10px; padding-top: 0; width: 100%;font-size: 10px; font-family: 'Poppins',Arial, 'sans-serif';  line-height:15px; text-align: left; color: #ffffff; background-color:#002859;">
      IMPORTANT NOTICE TO GUESTS: Your cruise ticket contract or booking conditions, and the terms and conditions for the purchase of any products, services, shore excursions or other activities related to your cruise, contain important limitations on the rights of passengers, including provisions relating to limitation of liability, forum selection, governing law, and the use of alternative dispute resolution to resolve certain types of disputes. The applicable cruise ticket contract or booking conditions is determined by your Primary Country of Residence. "Primary Country of Residence" means the country where you primarily reside at the time of booking the cruise. This should be indicated
 by you, your agent, or other representative at the time of booking the cruise or at online check-in. To find the applicable cruise ticket contract or booking conditions, and the purchase terms and conditions, please visit 
      <a href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjQxMGRiNDExLTJmZmQtNDNkZi05YTI3LTY0ODZiMDU1NGM3ZCIsImRla1ZlcnNpb24iOjEsIml2IjoiMnNOZE5lUE9Dd3B3cXhYMDM0dzdadz09IiwiY2lwaGVyVGV4dCI6Ik5xR0k5TkY3UGhaaHdNY3FVdmdlWGhHajcxT05uTkFEcENrSU1ZV21xelQ4K3A3SVY0SndIcnlKNWQ5U20ySmovenFlZ2lTMm9lc0NJVnVPYkRRc2hhdHdhRzVNakpGT2F0ckRYVFhqemdzS2NLc1Y5TitNTzJjPSIsImF1dGhUYWciOiJJVnVPYkRRc2hhdHdhRzVNakpGT2FnPT0ifQ%3D%3D" style="color:#ffffff; text-decoration: none" target="_blank" class="appleLinks">www.celebritycruises.com/guest-terms</a>.
      <br>
      <br>
      ©2026 Celebrity Cruises Inc. Ships' registry: Malta and Ecuador. 
      <br>
      <br>
      If you wish to change your preferences or opt to be excluded from future commercial e-mails from 
      <br class="hide">
      Celebrity Cruises, 
      <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6Ijg5YTdmZWYzLWNlOGItNGZkMy04NWQ1LThkM2UwYzVjYzU2YSIsImRla1ZlcnNpb24iOjEsIml2IjoicU1naEtzcjB5Y3o5eU5NMFJLanJ3dz09IiwiY2lwaGVyVGV4dCI6ImdnNjh5V0dHTEJ4d2VUZWxGdUxZamRIRlZESzk3U0N4WHBOb1FaUGxPdWR5WVRNUFI5a1pNb2FteHdnaldKWW9JTGlhZTd4UFNUQlVFUTdRZjBRNzNMUkwwQjNaVytKZ1NhaklJU3JLOU1uTS9jalRORVNvNjhNPSIsImF1dGhUYWciOiJFUTdRZjBRNzNMUkwwQjNaVytKZ1NRPT0ifQ%3D%3D" style="color: #ffffff;"><span style="color: #ffffff;">click here</span></a> or visit: 
      <a target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImRiMDA0ZDRjLTc5ZjEtNGI5Zi05ZGUwLTg4ZjRlMmY5YzRiMSIsImRla1ZlcnNpb24iOjEsIml2IjoiMHRIMk9yQnBNWU94d1daZ0dRemVRZz09IiwiY2lwaGVyVGV4dCI6Ii9rUEY1K3U1QldlOG5ZR1RYSk1hM1NNQWQyZWxIZU1XODllQ1kyWFR0dU1aK2R4WFBZeko3OTkvdlpFbHRDckJwc2R5ZzVDMkRvUW8zUS9EU3BsdU5vWkFyTFVtN0NqT3h0TFI5anF3YVRHRHNjRm1ZQmtNM2tJPSIsImF1dGhUYWciOiIzUS9EU3BsdU5vWkFyTFVtN0NqT3hnPT0ifQ%3D%3D" style="color: #ffffff;"><span style="color: #ffffff;">Celebrity.com</span></a>.
      <br>
      <br>
      We hope you enjoyed this e-mail from:
      <br>
      ‌Celebrity Cruises Inc.‌
      <br>
      <span class="appleLinks"><span style="color: #ffffff;">‌1050 Caribbean Way‌</span></span>
      <br>
      <span class="appleLinks"><span style="color: #ffffff;">‌Miami‌, ‌FL‌ ‌33132‌</span></span>
      <br>
      <a style="color:#ffffff; text-decoration: underline;" target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImQ0NmEyOTBlLWIzYTktNDU4ZS1iNjUwLTg4Njc4MjA4NDZmYyIsImRla1ZlcnNpb24iOjEsIml2IjoiM2tmOFRQc0Rscm1leisvTVFQNTloUT09IiwiY2lwaGVyVGV4dCI6IkZONmFQb1lVU2VzTkJTUUR4T1RWRTJseWtQYnFIQnZIdmhHTythQVhnSi9XUjlkRm9ZMGExT250aFhIQ2F1ZXlKbkhzMEs2VThhMWdLVVZtekRVNmU5T1lySUJ6UXl3WVR0NUgvRXo3QTVhNW5zL3Z6RUQrZllVPSIsImF1dGhUYWciOiJLVVZtekRVNmU5T1lySUJ6UXl3WVRnPT0ifQ%3D%3D"> <span style="color: #ffffff;">www.celebrity.com</span> </a> 
      <br>
      <br>
      <a style="color:#ffffff; text-decoration: underline;" target="_blank" href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjAwZDRjMzZlLTM0NGItNDBkMS1iNTE1LTRlYjJmMDM2YTljNiIsImRla1ZlcnNpb24iOjEsIml2IjoiS0E5d3cxMm5TSGpPOWR0czRsSlloQT09IiwiY2lwaGVyVGV4dCI6InJlbU9GQVV3ZHJXSDFLbGxZWEVrK1RRM2ZtWkR4NVQvNDRvTEtKS2RaT1RTV29UVjM4b2NnR0s1ZVVsL0FUcWpQeS9VTzVseTlnVkQ1aUtZaHFCZTlHaC9VSDJkejlrNFJpZ1BjTU5kcDBoNHp2WGJiT0pTV0lRPSIsImF1dGhUYWciOiI1aUtZaHFCZTlHaC9VSDJkejlrNFJnPT0ifQ%3D%3D"> <span style="color: #ffffff;">Privacy Policy</span> </a> 
      <img src="https://click.na.celebritycruises.com/open.aspx?4-13276990-4245915389-523014069-134484-583501897-1&amp;d=40150&amp;bmt=0" width="1" height="1" alt="" qmq2ap33c="">
    </td>
  </tr>
</tbody></table>