<table bgcolor="#002859" bgcolor="#002859" class="container" style="background-color:#002859; border-collapse:collapse; background: #002859;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr>
    <td style="background: #002859; padding-top: 30px;" align="center">
      <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-top: 1px solid #ffffff;">
        <tbody><tr>
          <td height="5">
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px; border: 0px; margin: 0px; padding-bottom: 30px;">
      <table border="0" cellpadding="0" cellspacing="0" align="center" width="600" style="max-width:600px;" class="container">
        <tbody><tr>
          <td style="background:#002859;" align="center">
            <table width="80%" align="center" cellpadding="0" cellspacing="0" border="0" style="text-align:center; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif', 'Poppins'; font-weight: 500;">
              <tbody><tr>
                <td height="40">
                  <font color="#ffffff">FOLLOW &amp; SHARE #CELEBRITYCRUISES
                  </font>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td align="center" style="background: #002859; padding-top: 10px; padding-bottom: 10px;">
            <table width="360" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="#">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/d3b2b77b-23d0-409c-b0e0-4f1bcf661e06.png" width="30" align="middle" alt="Instagram">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="#">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/6230a73b-8fa4-4444-ae46-6e3a48ecc54d.png" width="30" align="middle" alt="Facebook">
                  </a>
                </td>
                <td width="35" align="center" valign="middle" style="width: 10% !important;">
                  <a href="#" target="_blank">
                    <img src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/26fc7207-b0a5-4ce0-bef6-f161733d4f14.png" align="middle" alt="TIKTOK" width="25" border="0">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="#">
                    <img src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/98347b3b-497b-4bf2-9b4e-c70bf982bffb.png" align="middle" alt="YouTube" width="30" border="0">
                  </a>
                </td>
                <td width="40" align="center" valign="middle" style="width: 12% !important;">
                  <a target="_blank" href="#">
                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/9b31aa3d-88f1-410d-bb90-16384d3407de.png" width="30" align="middle" alt="Pinterest">
                  </a>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="background: #002859" align="center">
            <table class="mobile-border-bottom" width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-bottom: 1px solid #ffffff">
              <tbody><tr>
                <td height="10">
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="background:#002859; background-color:#002859;">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%" style="max-width: 100%;" bgcolor="#002859">
              <!-- Separation -->
              <!-- Separation -->
              <tbody>
                <tr>
                  <td width="22.5%" valign="bottom" align="center" class="hide">
                    <table style="border-bottom: 1px solid #FFFFFF;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td height="25" style="background:#002859; background-color:#002859;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td height="0" width="55%" valign="bottom" align="center" class="container" style="background:#002859; background-color:#002859;">
                    <table style="border-bottom: 1px solid #002859;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td align="center" valign="bottom" style="color:#FFFFFF;">
                            <p class="mobile-text-size" style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif', 'Poppins'; font-weight:500; color: #FFFFFF; margin: 0; margin-bottom: -10px; letter-spacing: 1px;">THE ROYAL CARIBBEAN GROUP
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td valign="bottom" width="22.5%" align="center" class="hide">
                    <table style="border-bottom: 1px solid #FFFFFF;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td height="25" style="background:#002859; background-color:#002859;">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="mobile-padding-0-20" align="center" style="background: #002859;">
            <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center" class="mobile-border" style="border: 1px solid #ffffff; border-top: #002859;">
              <tbody><tr>
                <td>
                  <!-- Desktop -->
                    <table cellpadding="0" cellspacing="0" width="90%" align="center" role="presentation" class="hide">
                      <tbody><tr>
                        <td style="padding-bottom:0px;">
                          
                          <table cellspacing="0" cellpadding="0" role="presentation">
                            <tbody><tr>
                              <td width="30%" align="center" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="#">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/bd301173-dca9-4d4b-9ee2-01e8869d85ba.png" width="130" align="middle" alt="Social Royal Caribbean">
                                </a>
                              </td>
                              <td width="30%" align="center" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="#">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/aa859369-8cdb-4ccb-9561-af09bc5a69a1.png" width="130" align="middle" alt="Social Celebrity Cruises">
                                </a>
                              </td>
                              <td width="30%" align="center" valign="middle" class="container mobile-display-inline-block" style="padding: 25px 0;">
                                <a target="_blank" href="#">
                                  <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/451f80a1-f13f-4435-98af-506c9529e67d.png" width="130" align="middle" alt="Social Silversea">
                                </a>
                              </td>
                            </tr>
                          </tbody></table>
                          
                        </td>
                      </tr>
                    </tbody></table>
                    <!--[if !mso]><!-->
                    <!--Mobile-->
                    <div class="show" style="display: none;max-height : 0px; overflow: hidden; line-height: 0px;">
                      <table cellpadding="0" cellspacing="0" width="36%" align="center" role="presentation" class="show" style="display: none">
                        <tbody><tr width="100%">
                          <td width="100%" style="padding-bottom:0px; padding-top: 20px;">
                            
                            <table cellspacing="0" width="100%" cellpadding="0" role="presentation" style="width: 100%;">
                              <tbody><tr>
                                <td align="center" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="#">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/bd301173-dca9-4d4b-9ee2-01e8869d85ba.png" width="130" align="middle" alt="Social Royal Caribbean">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="#">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/aa859369-8cdb-4ccb-9561-af09bc5a69a1.png" width="130" align="middle" alt="Social Celebrity Cruises">
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="middle" class="container" style="padding: 25px 0; ">
                                  <a target="_blank" href="#">
                                    <img border="0" src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/451f80a1-f13f-4435-98af-506c9529e67d.png" width="130" align="middle" alt="Social Silversea">
                                  </a>
                                </td>
                              </tr>
                            </tbody></table>

                          </td>
                        </tr>
                      </tbody></table>
                    </div>
                    <!--<![endif]-->
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>

<table style="border-collapse:collapse;" class="container" width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" align="center">
  <tbody><tr>
    <td class="mobile-padding-0-20" style="padding: 0 30px 20px;width: 100%;font-size: 10px; font-family: 'Poppins',Arial, 'sans-serif';  line-height:15px; text-align: left; color: #ffffff; background-color:#002859;">
      IMPORTANT NOTICE TO GUESTS: Your cruise ticket contract or booking conditions, and the terms and conditions for the purchase of any products, services, shore excursions or other activities related to your cruise, contain important limitations on the rights of passengers, including provisions relating to limitation of liability, forum selection, governing law, and the use of alternative dispute resolution to resolve certain types of disputes. The applicable cruise ticket contract or booking conditions is determined by your Primary Country of Residence. "Primary Country of Residence" means the country where you primarily reside at the time of booking the cruise. This should be indicated
 by you, your agent, or other representative at the time of booking the cruise or at online check-in. To find the applicable cruise ticket contract or booking conditions, and the purchase terms and conditions, please visit 
      <a href="#" style="color:#ffffff; text-decoration: none" target="_blank" class="appleLinks">www.celebritycruises.com/guest-terms</a>.
      <br>
      <br>
      ©2026 Celebrity Cruises Inc. Ships' registry: Malta and Ecuador. 
      <br>
      <br>
      If you wish to change your preferences or opt to be excluded from future commercial e-mails from 
      <br class="hide">
      Celebrity Cruises, 
      <a target="_blank" href="#" style="color: #ffffff;"><span style="color: #ffffff;">click here</span></a> or visit: 
      <a target="_blank" href="#" style="color: #ffffff;"><span style="color: #ffffff;">Celebrity.com</span></a>.
      <br>
      <br>
      We hope you enjoyed this e-mail from:
      <br>
      ‌Celebrity Cruises Inc.‌
      <br>
      <span class="appleLinks"><span style="color: #ffffff;">‌1050 Caribbean Way‌</span></span>
      <br>
      <span class="appleLinks"><span style="color: #ffffff;">‌Miami‌, ‌FL‌ ‌33132‌</span></span>
      <br>
      <a style="color:#ffffff; text-decoration: underline;" target="_blank" href="#"> <span style="color: #ffffff;">www.celebrity.com</span> </a> 
      <br>
      <br>
      <a style="color:#ffffff; text-decoration: underline;" target="_blank" href="#"> <span style="color: #ffffff;">Privacy Policy</span> </a> 
      <img src="https://click.na.celebritycruises.com/open.aspx?4-13276990-4245915389-523014069-134484-583501897-1&amp;d=40150&amp;bmt=0" width="1" height="1" alt="" qmq2ap33c="">
    </td>
  </tr>
</tbody></table>