<table border="0" cellpadding="0" cellspacing="0" align="center" width="600"                       style="max-width: 600px" class="fluid">
                      <tr>
                        <td                           style="background: #000000; padding-top: 30px; padding-right: 10px; padding-bottom: 0; padding-left: 10px; text-align: center; font-size: 16px; line-height: 22px; color: #171516">
                          &nbsp; <a style="color: #171516; text-decoration: none"                             href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImFiOTNhMDVlLWUwYzAtNDU2Ny1hNjk5LTkzMzQ1ZDUyMTI5NiIsImRla1ZlcnNpb24iOjEsIml2IjoidE4za3lHSW8zL2RIYWJ4L1R1TG8zUT09IiwiY2lwaGVyVGV4dCI6IkZJNjFYTy9yanBRd2MvU3lFQng2MnRaZlhTZzJYWjBiMmdRTG1ZL1ZIWmdNKzVIVm1VMjJlTUNaOU5kYStyKytnTWJwVVpEMnFEckhpYkdoRlVVdEI3V0pUYzZoamNIbUpXUTJTWDIwM2VUSVlpamY5MGRwdkg5TzR1amQiLCJhdXRoVGFnIjoiUlMwSHRZbE56cUdOd2VZbFpEWkpmUT09In0%3D"  target="_blank">
                            <font color="#FFFFFF"><strong>VISIT CELEBRITY.COM</strong></font>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td                           style="background: #000000; padding-top: 5px; padding-right: 10px; padding-bottom: 30px; padding-left: 10px; text-align: center; font-size: 16px; line-height: 22px; color: #171516">
                          <a href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImY2OTE1Y2VkLTRlMzMtNDkwNS1iNWYxLTVlYjMxNWEyY2JhYSIsImRla1ZlcnNpb24iOjEsIml2IjoiblFRNXJyU1FrL3h0OE9ZSm1TUmo3UT09IiwiY2lwaGVyVGV4dCI6Imtud05XM2RxRnNSaEFrY3l5VWcxSmpiSTQ2VXh2UnZ4dHZSNmxTN1VnM2FEaWQ5VDNFV2FKWWlxQzZnb1RoNThRYU81bTFHcTlWWXhSNmFQZWNnZEZmNnphcG1mZTlzaEpoWEJQV3FkQkRtdXRKQ1QvRzN3NWdtWkpHUHQiLCJhdXRoVGFnIjoieUIwVi9yTnFtWjk3MnlFbUZjRTlhZz09In0%3D"                              target="_blank" style="text-decoration: none; color: #ffffff">
                            <font color="#ffffff">CALL 1-888-752-7762</font>
                          </a>&nbsp; <font color="#ffffff">|&nbsp;</font><a                             style="color: #ffffff; text-decoration: none"                             href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjZlNDg1NmU2LTM2MTktNDU4Mi1iZTE5LWY4NjIwZmE5ODUyYSIsImRla1ZlcnNpb24iOjEsIml2IjoiRmVLQWIySTBJYUlQRWhrSHFQdlk2dz09IiwiY2lwaGVyVGV4dCI6ImFCdTBQV0RJb3NNSEpBZ0d6SWR5cmhlVnI0K2NvallGZ00zeGsyb3pWcnZsZUtndjEvMkhzeVJobzFZbGlSZkFsaVhiWEZ4YVgrNlhKMHdVZUUxdldsN2pCMll3YU9zSUs1cmQ5bmtWNG9CdllqUWhvZzhTR1Flbys5anIiLCJhdXRoVGFnIjoiVFc5YVh1TUhaakJvNndncm10MzJlUT09In0%3D"  target="_blank">
                            <font color="#ffffff">CONTACT YOUR TRAVEL ADVISOR</font>
                          </a>
                        </td>
                      </tr>
                      
                      <tr>
                        <td style="background: #000000" align="center">
                          <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0"                             style="border-top: 1px solid #ffffff" class="fluid">
                            <tr>
                              <td height="15"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px; border: 0px; margin: 0px;">
                          <table border="0" cellpadding="0" cellspacing="0" align="center" width="600"                             style="max-width:600px;" class="fluid">

                            <tr>
                              <td style="background:#000000;" align="center">
                                <table width="80%" align="center" cellpadding="0" cellspacing="0" border="0"                                   style="font-size: 14px !important;text-align:center; font-weight: 600;" class="fluid">
                                  <tr>
                                    <td height="20">
                                      <font color="#ffffff">FOLLOW &amp; SHARE #CELEBRITYCRUISES
                                      </font>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="background: #000000; padding-top: 20px">
                                <table width="320" border="0" cellspacing="0" cellpadding="0" class="fluid">
                                  <tr>
                                    <td width="40" align="center" valign="middle"                                       style="text-align: center; width: 12% !important;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjI4ODc4ZjMyLWM1MmQtNDhjOS1hYWFiLWNmYTU3Njg4MDQyZiIsImRla1ZlcnNpb24iOjEsIml2IjoiV3BVVHJOVmRrcWFoL3ZudEtvR3pEUT09IiwiY2lwaGVyVGV4dCI6IitYbWo0NHkxS3hjY1VMM1phMjVXMnZwT1V3UEVja2dRRU9td0REZk1OL1U1MFI3WWVpbEY2dXE1MzFjdndNRzZQTDNHUG5NVTBBUmxRejlVUUUwN2dOSXhxeW53SnFTUGFpUFZVWEphbFJPczFWMlNwcUgrK2UwcWdiTU4iLCJhdXRoVGFnIjoiVFR1QTBqR3JLZkFtcEk5cUk5VlJjZz09In0%3D">
                                        <img border="0"                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/b9f848f2-c463-484f-b64e-7cbb8cc1f49a.png"                                           width="30" align="center" alt="Instagram" />
                                      </a>
                                    </td>
                                    <td width="40" align="center" valign="middle"                                       style="text-align: center; width: 12% !important;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjFlOGQyYTFlLTI3YmMtNDliNy04YTc2LWIwYTQwODlkN2QyNSIsImRla1ZlcnNpb24iOjEsIml2IjoicTZROFpOanVEZTd5aGRWcmVnUE04dz09IiwiY2lwaGVyVGV4dCI6Im1aNlV3NEgvU1IvRDljdkRnK2t6ZjZoTDcyVE01SmlGM05IenkvQUdHN1pid1NlejUzbStCNFFIdi9KV2JwTUZlUU9mY0tiSWFZMGlZRHQ3ZGRaRDJjOWJ5VVJoTmdjQkJGTHY4VytycER4azJPNE43dktGMVd0NkE4enoiLCJhdXRoVGFnIjoiMWtQWnoxdkpSR0UyQndFRVV1L3hidz09In0%3D">
                                        <img border="0"                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/d387a024-b3b2-4b20-9309-8ee2606cef45.png"                                           width="30" align="center" alt="Facebook" />
                                      </a>
                                    </td>
                                    <td width="35" align="center" valign="middle"                                       style="text-align: center; width: 10% !important;">
                                      <a href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjU2MDE5N2FjLWI2ZWEtNGNiNi1hMWU5LWI4MThkMmUzMjVlNyIsImRla1ZlcnNpb24iOjEsIml2IjoiZ3VPcG15dWcrS2FCVThDdWhQc0lwUT09IiwiY2lwaGVyVGV4dCI6IjAxUWxYZ1dYaUJlV3E5VmVKdllzZ3ZTVlVOZ1lFM0w3K1pxdXMxZVVEWENaemxkSDlBYzZTL05WMDZJaXFKTStMWHFaWERkTHhGaGhlZGRJbXJGL0M0VXdBcDR3QS8rdk4yN2pFL0tDNDZtYks2RDRwb0ZUd0s2RSt3aWwiLCJhdXRoVGFnIjoic1g4TGhUQUNuakFELzY4M2J1TVQ4Zz09In0%3D"                                          target="_blank">
                                        <img                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/564b5e7a-5aaf-427e-a564-398eb45de88a.png"                                           align="center" alt="TIKTOK" width="25" border="0" />
                                      </a>
                                    </td>
                                    <td width="40" align="center" valign="middle"                                       style="text-align: center; width: 12% !important;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjlkOGQ1MGI5LTg0YmItNDBjMS05OGU3LTI4NWU2ZGY1YmRmMyIsImRla1ZlcnNpb24iOjEsIml2IjoiTXJGWWFnWFRjVFJ0RHoydnVnaC9iQT09IiwiY2lwaGVyVGV4dCI6IjNERGtENTl6MitNUmFleWhQaVFCOGVLaGxjcHNUVjNJS01MVjhhMGdPTUtLMnpDN1lscFJiWmpLUXpmTzgyaVpIdHhJbGF1Q3FMYkJvZXdObVdpZm92Y2cxYnFaLzFOVkhrOWU5Mnd5c1ZocUJkTnhORzBQUGErNkNIOXMiLCJhdXRoVGFnIjoiYUoraTl5RFZ1cG4vVTFVZVQxNzNiQT09In0%3D">
                                        <img                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/e2b1943c-322f-4633-b1dc-0e471608305c.png"                                           align="center" alt="YouTube" width="30" border="0" />
                                      </a>
                                    </td>
                                    <td width="40" align="center" valign="middle"                                       style="text-align: center; width: 12% !important;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjNjNjAwMWJkLWNiZGQtNDU3MC1hOTc2LThiMGFhMmNhNWViMyIsImRla1ZlcnNpb24iOjEsIml2IjoiY2hQbXRtWHl1b3FjdUtqYVBLcE5Qdz09IiwiY2lwaGVyVGV4dCI6IklZUVBtWXh2bjdGUEp0SXRMU1pvQVI2M1packU3SEtJekdvbWNRbEU5dlR1aEZBcVFCNVBqdElBMGszNnFiUDE3VDE4ajJXdDBadlU2UVBXdDhmRHFLY2tnT3pjYk5yVHp2RE1pNDl5RSthMlpmSzZpcHk0cU5vOHFrMC8iLCJhdXRoVGFnIjoieDhPb3B5U0E3TnhzMnRQTzhNeUxqdz09In0%3D">
                                        <img                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/1de3f070-a959-494c-90b7-c0a3aa1a4af4.png"                                           align="center" alt="Pinterest" width="30" border="0" />
                                      </a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="20" style="background-color: #000000"></td>
                            </tr>
                            <tr>
                              <td style="background:#000000; background-color:#000000;">
                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%"                                   bgcolor="#000000">
                                  <!-- Separation -->
                                  <tbody>
                                    <tr>
                                      <td width="22.5%" valign="bottom" align="center" class="mobile-hide">
                                        <table style="border-bottom: 1px solid #FFFFFF;" class="fluid" width="100%"                                           cellspacing="0" cellpadding="0" border="0" align="center">
                                          <tbody>
                                            <tr>
                                              <td height="25" style="background:#000000; background-color:#000000;">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                      <td height="0" width="55%" valign="bottom" align="center" valign="bottom"                                         class="mobile-stack" style="background:#000000; background-color:#000000;">
                                        <p class="mobile-text-size" style="font-weight:400; color: #FFFFFF !important;                                           margin: 0 !important; margin-bottom: -10px !important; margin-top: 10px;                                           letter-spacing: 1px !important;">
                                          <img border="0"                                             src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/d3fcde1b-ed27-4d7b-8a6f-814bebbd37e8.png"                                             width="200" align="center" alt="ROYAL_CARIBBEAN_GROUP" />
                                        </p>
                                      </td>
                                      <td valign="bottom" width="22.5%" style="padding: 0 !important;" align="center"                                         class="mobile-hide">
                                        <table style="border-bottom: 1px solid #FFFFFF;" class="fluid" width="100%"                                           cellspacing="0" cellpadding="0" border="0" align="center">
                                          <tbody>
                                            <tr>
                                              <td height="25" style="background:#000000; background-color:#000000;">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td align="center" style="background: #000000;">
                                <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center"                                   class="fluid no-border-table"                                   style="border: 1px solid #FFFFFF; border-top: #000000; border-top: none">
                                  <tr>
                                    <td width="30%" align="center" class="fluid segoe mobile-stack"                                       style="padding: 25px 0;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImFmZWFmYzk3LTRjMTgtNGFmOS05ZTA4LWQyNDhjZjhjZWM4YSIsImRla1ZlcnNpb24iOjEsIml2IjoiYW0xenZDQmJMajFPQ3l1Mi9WQWEwQT09IiwiY2lwaGVyVGV4dCI6IkNKRkZ4Z0VGZ0tqeFlhcUNUSXg4Q1Q4TmtMZnJoQWsvbW80cGVBQWhzcEk2cWppL3FpREM3ZTNXRXl1M2h4TllwenR3VFYwam5jT1oyeW8xMlB4U0NVOXkvbkYzTmJkOFhoc0x1QzFxYlhPOElGc3VQVTRMSzdiOVVCclEiLCJhdXRoVGFnIjoiL0ZJSlQzTCtjWGMxdDN4ZUd3dTRMUT09In0%3D">
                                        <img border="0"                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/c213ac41-f365-4907-9c7f-8c2f2be5b6d6.png"                                           width="130" align="center" alt="RCC" />
                                      </a>
                                    </td>
                                    <td width="30%" align="center" class="fluid segoe mobile-stack"                                       style="padding: 25px 0;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImI4YzQ5MTE3LWE4MjItNDcxOC04NTBmLTg0Nzg5MDk5N2E0MiIsImRla1ZlcnNpb24iOjEsIml2IjoiRlQyS0IxZm94eVlZU3pDY3NNaUI3QT09IiwiY2lwaGVyVGV4dCI6IlAzR0xMQmQ1RG9tYkZ6eVB1Vkk5anZvOXloN1Rzd0FSVEtDbVlSa0RZVEQwRkJ0TE1IeHFVQ01sSk43Y0E5dmN4bk5vVjJteWoyL0NQb1A4dGNRWTg0ZXVnRDlnN3lNbEVmOW5JazRWUFlvSFYrakhKaGhMTUp5d3lJSHMiLCJhdXRoVGFnIjoieEJqemg2NkFQMkR2SXlVUi8yY2lUZz09In0%3D">
                                        <img border="0"                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/05917f6d-e3ef-46d9-9e4e-659a6d0e520c.png"                                           width="130" align="center" alt="CEL" />
                                      </a>
                                    </td>
                                    <td width="30%" align="center" valign="middle" class="fluid segoe mobile-stack"                                       style="padding: 25px 0;">
                                      <a target="_blank"                                          href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImUzMjEzMjliLWY0ODMtNDQwMC04ZTA2LTQ0MGZmZGE1OTRmNyIsImRla1ZlcnNpb24iOjEsIml2IjoicVNlMDNXNWk4TzNOcStPY0NIMXZKZz09IiwiY2lwaGVyVGV4dCI6InJjRUYzZC9YWVY3MDRhNjh4RXFTMlh6MFpFM1NTWUxvM1NPK0I5L2F2OVJkSnoyMTExMEVKWHMxQ0Q1b2N5ejdxNEJNeGRGTXVaSWUycHNsYmxNQ1BxcS9sdEh5Vnhzd0hoUGJFcjZwSjdUZGJtTHc3YzJyNDV3SWZXOG0iLCJhdXRoVGFnIjoiVXdJK3FyK1cwZkpYR3pBZUU5c1N2Zz09In0%3D">
                                        <img border="0"                                           src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/61972ee3-b7bf-4857-9c27-37d9c8f9a0f1.png"                                           width="130" align="center" alt="SILVERSEA" />
                                      </a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="background: #000000; padding-top: 20px">
                                <table width="500" border="0" cellspacing="0" cellpadding="0" align="center"                                   class="fluid">
                                  <tr>
                                    <td align="center" style="background: #000000; padding-top: 20px">
                                      <table width="500" border="0" cellspacing="0" cellpadding="0" align="center"                                         class="fluid">
                                        <tr>
                                          <td align="center"                                             style="font-size: 8px; line-height: 15px; color: #171516; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';"                                             class="fluid segoe mobile-stack">
                                            <a target="_blank"  href="https://view.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjM2MWM3NWRlLWZjMmMtNGJlYi1iMzA2LWY5OWZlMDM0NzFhZCIsImRla1ZlcnNpb24iOjEsIml2IjoiTjFnMDFoRzIwLzB2VFhBTXo5K3dvUT09IiwiY2lwaGVyVGV4dCI6IjErWmZhVS82QXNNdWQ5NjdoZWZPK3pDWVlsb2kyODhJOGlRamxtYXJWWHJRVGttMnZXRWJSbUltWlo3MG02N0YrblA5MzNUVzlHQ2U1d0d0TUtBclkzYXhWN0VZQndhdDNRbmNaQldvZ0NxN0RIYmRQam5mOThPQ0txTDVKZ3BETzNSM3djWU5OMWcwMWhHMjAvMHZUWEFNejkrd29RPT0iLCJhdXRoVGFnIjoiMy9mRGdpcWkrU1lLUXp0MGQ4SEdEUT09In0%3D"                                               style="text-decoration: none !important; font-size: 9px; line-height: 15px; color: #171516; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'">
                                              <font color="#ffffff">BROWSER VIEW
                                              </font>
                                            </a>
                                          </td>
                                          <td width="10" align="center"                                             style="font-size: 9px; line-height: 15px; color: #ffffff; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'"                                             class="mobile-stack mobile-bottom-padding">
                                            <span class="mobile-hide">|</span>
                                          </td>
                                          <td align="center"                                             style="font-size: 8px; line-height: 15px; color: #171516; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';"                                             class="fluid segoe mobile-stack">
                                            <a target="_blank"                                                href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjU5MjAwYmMxLWJhNmEtNGM3Ny1iOGZmLWYyNmJhMTZmNTc4MiIsImRla1ZlcnNpb24iOjEsIml2IjoiRlJhcFpXN0JQampKbFcvVUZWWlZQUT09IiwiY2lwaGVyVGV4dCI6IkYwREdtVUtueEJrdS9OK3ZuVE9KTDZQT2xRWVMvNGpPbEQyazZFQlJ5ZUdEZndUbG8xM1p2R1d3S2tBZ1NCUVVsc2NzYlRlcG9HVEpaRjRkdEllV1ZpUmJscGZUTlVPRG5QMm9UYjRWRnFsbGJzRStPTW1WYjlRVlZsVTkiLCJhdXRoVGFnIjoiaDVaV0pGdVdsOU0xUTRPYy9haE52Zz09In0%3D"                                               style="text-decoration: none !important; font-size: 9px; line-height: 15px; color: #171516; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'">
                                              <font color="#ffffff">SPECIAL OFFERS
                                              </font>
                                            </a>
                                          </td>
                                          <td width="10" align="center"                                             style="font-size: 9px; line-height: 15px; color: #ffffff; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'"                                             class="mobile-stack mobile-bottom-padding">
                                            <span class="mobile-hide">|</span>
                                          </td>
                                          <td align="center" class="fluid segoe mobile-stack">
                                            <a target="_blank"                                                href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6ImYwYmQ3Mzc5LTM4NmYtNDc0ZC05ZDIyLWI3MTc5ZDQ3MmYyMiIsImRla1ZlcnNpb24iOjEsIml2IjoicEhNb0xIRnlGeUhzZGtjSlJpaHV2UT09IiwiY2lwaGVyVGV4dCI6IkFzaU1JNnhCYWJzVkJhZlVXclJKejhQb2xFMS8rNVBYa1BDSWhBS2hrbmNJV1B6anpnSGE1aDFOTitsQ3Zsd0ZMQ2Eyb3NGeXc5NEM4Nkh1SGxtdmU1eHArd1VkYlc2dHAvaGE3eW1rY3lnc2NYSVhJZXgyUndsR0tHNjkiLCJhdXRoVGFnIjoiV2E5N25HbjdCUjF0YnEybitGcnZLUT09In0%3D"                                               style="text-decoration: none !important; font-size: 9px; line-height: 15px; color: #171516; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'">
                                              <font color="#ffffff">CRUISE SEARCH</font>
                                            </a>
                                          </td>
                                          <td width="10" align="center"                                             style="font-size: 9px; line-height: 15px; color: #ffffff; font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'"                                             class="mobile-stack mobile-bottom-padding">
                                            <span class="mobile-hide">|</span>
                                          </td>
                                          <td align="center" valign="middle" class="fluid segoe mobile-stack">
                                            <font color="#ffffff"                                               style="font-family: 'Montserrat', Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif' !important; font-size: 9px !important; text-decoration: none !important;">
                                              <a alias="UPDATE_PREF" data-darkreader-inline-color="" href="https://cloud.na.celebritycruises.com/celebrity-account-email-preferences?qs=eyJkZWtJZCI6ImVjMmNhNDZhLThjYzktNDA3Yy05NWVhLTkxOTM0YmE3OTllYyIsImRla1ZlcnNpb24iOjEsIml2IjoiV0pSSGlLL3RrcFl1VmM3enE3bHM4UT09IiwiY2lwaGVyVGV4dCI6IlVDY0ZpRzk4NElienF4YlFEN0VVNU5QL01jMVBscHF5ZE5UQlV2aHdRKzJMSUsrN0dob09zcnhzNWprcmdwdTBXdjdYKzhXVFVxWlJPNHF5L1VrNXhrTFVkRENlTFJQRWlKM0dZeEZKbk9ieDJZZWZaMElSYlJxYm5kNzEwL3ZHTExMZnJrcS90d3VSSU0xVXluY05FcUQyZ1ZQSTNYNjNuS0xIVFpFUXEwamFqZUZFNDQ5ZkpXaElqaFNaSi9SRldKUkhpSy90a3BZdVZjN3pxN2xzOFE9PSIsImF1dGhUYWciOiIybzNoUk9PUFh5Vm9TSTRVbVNmMFJRPT0ifQ%3D%3D"
  style="color: rgb(255, 255, 255); text-decoration: none; --darkreader-inline-color: #e8e6e3;"
  target="_blank"> <span data-darkreader-inline-color=""
    style="color: rgb(255, 255, 255); --darkreader-inline-color: #e8e6e3;">MANAGE PREFERENCES</span>
</a></font>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="background: #000000" align="center">
                                <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0"                                   style="border-bottom: 1px solid #FFFFFF" class="fluid">
                                  <tr>
                                    <td height="20"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="background: #000000" align="center">&nbsp;</td>
                            </tr>
                          </table>
                          <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%"                             style="max-width: 600px;" bgcolor="#000000">
                            <tr>
                              <td class="segoe"                                 style="padding: 10px 30px;width: 100%;font-size: 10px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif', 'Poppins'; line-height:15px; text-align: left; color: #ffffff; background-color:#000000;">
                                * Cruise must be booked 12/09/25 thru 04/06/26 (the “Offer Period”) and applies to
                                select 3-night and longer sailings departing 12/09/25 &ndash; 05/10/28 as well as
                                9-Night and
                                longer Alaska Cruisetours on Celebrity Summit sailings departing 05/08/26 &ndash;
                                09/04/26 and
                                Celebrity Solstice departing 05/07/27 &ndash; 09/03/27 (the “Offer Cruise”). Promo code
                                not
                                required. Refer to <a                                   href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjEzOTlkNDUyLTY0NjgtNDdhOS05YzQzLTNjY2MxMzUzYTljZCIsImRla1ZlcnNpb24iOjEsIml2IjoiL1FLMVcwZXBhaTFET3JHdy9jSUVYdz09IiwiY2lwaGVyVGV4dCI6IjFQZ0hVZlE0UGlXR0o4RDZjS1NabHBVT0JTR3cwZVpZcHdjMVIrQjZvamorK2RPTFdCY0JRVElkNGduZStJMWNlT2g0RjlQNHBob0NrODFHR2E0TXZ0OXlRS2FCaWF4RDRYWXovN1A5QXJWYlI2bHFMVU02c2JEOXdnUmYiLCJhdXRoVGFnIjoicmd5KzMzSkFwb0dKckVQaGRqUC9zdz09In0%3D"                                    target="_blank"                                   style="color: #FFFFFF !important; font-weight: 600;"><strong>
                                    <font color="#FFFFFF">full terms and
                                      conditions</font>
                                  </strong></a> and the Cruise Ticket Contract. Changes to booking may result in removal
                                of offer.
                                <br><br>
                                <strong>$100 USD Savings Offer</strong> applies to new, individual bookings at standard
                                and prevailing or closed group standard or GroupX rates from 01/20/26 &ndash; 01/21/26
                                on an
                                Offer Cruise, excluding Celebrity River Cruises and Galapagos, and provides cruise fare
                                savings per stateroom on select sailings departing 01/20/26 through 05/10/28.
                                <br><br>
                                Nothing Comes Close is a registered trademark of Celebrity Cruises.<br>
                                &copy;2026 Celebrity Cruises Inc. Ships' registry:
                                Malta and Ecuador.
                                <br>
                                <br />We hope you enjoyed this e-mail from:
                                <br />Celebrity Cruises Inc. <br />
                                <span class="appleLinks">1050 Caribbean Way</span>
                                <br />
                                <span class="appleLinks">Miami,
                                  FL 33132</span>
                                <br />
                                <a style="color:#ffffff; text-decoration: underline;" target="_blank"                                    href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6IjY2MWQ3MmMxLWU0ZGMtNDU1Mi1iNzA5LWY4MjdjMjkyYmUxZSIsImRla1ZlcnNpb24iOjEsIml2IjoiempTVWdnK1d0ODcwVFkrUGdBYXlvQT09IiwiY2lwaGVyVGV4dCI6Ik9leVZxUjR3d3QrZmJKQjB6Q1JTdnZmLzdKUmlSMElxVFRORXlxTm50a0NDTUY5aFFFdHh5cThzQ2JHVGczMTFHaURYUDhhOHg1ZFM5eCtDeTYzVnFWbHJJVXM0VDFzbSs4aFBRdG5PTkpTQ0Q1YTN6dlJOajQrQUJyS2ciLCJhdXRoVGFnIjoicmRXcFdXc2hTemhQV3liN3lFOUMyUT09In0%3D">
                                  <span style="color: #ffffff;">www.celebrity.com</span>
                                </a>
                                <br />
                                <br />
                                <a style="color:#ffffff; text-decoration: underline;" target="_blank"                                    href="https://click.na.celebritycruises.com/?qs=eyJkZWtJZCI6Ijc3MmIxODViLWJkYzAtNGU0ZS1iM2QwLTA3NGNiYTJlMTcxMyIsImRla1ZlcnNpb24iOjEsIml2IjoiMlZaMjBaR0x5UUdMUHRQQXJyUVhWUT09IiwiY2lwaGVyVGV4dCI6Imc2N2R3TXlRS3AvQzhneTEweisxK2hNMTgrL2ppckJzRTdkVCszTk1uemhYa0huWkJNQVgyMGNsUm82RWl6ZEZKVmRCbWNHd2J6bkl4clR5ZnlSTEh1RXIwY0l0aVhsSXJpV0gvb2JaVm5iUmtZdkpBWXMrMDhDdXRCZFYiLCJhdXRoVGFnIjoiSkVzZTRTdlJ3aTJKZVVpdUpZZitoZz09In0%3D">
                                  <span style="color: #ffffff;">Privacy Policy</span>
                                </a> | <a alias="UNSUB" data-darkreader-inline-color="" href="https://cloud.na.celebritycruises.com/celebrity-account-email-preferences?qs=eyJkZWtJZCI6ImVjMmNhNDZhLThjYzktNDA3Yy05NWVhLTkxOTM0YmE3OTllYyIsImRla1ZlcnNpb24iOjEsIml2IjoiV0pSSGlLL3RrcFl1VmM3enE3bHM4UT09IiwiY2lwaGVyVGV4dCI6IlVDY0ZpRzk4NElienF4YlFEN0VVNU5QL01jMVBscHF5ZE5UQlV2aHdRKzJMSUsrN0dob09zcnhzNWprcmdwdTBXdjdYKzhXVFVxWlJPNHF5L1VrNXhrTFVkRENlTFJQRWlKM0dZeEZKbk9ieDJZZWZaMElSYlJxYm5kNzEwL3ZHTExMZnJrcS90d3VSSU0xVXluY05FcUQyZ1ZQSTNYNjNuS0xIVFpFUXEwamFqZUZFNDQ5ZkpXaElqaFNaSi9SRldKUkhpSy90a3BZdVZjN3pxN2xzOFE9PSIsImF1dGhUYWciOiIybzNoUk9PUFh5Vm9TSTRVbVNmMFJRPT0ifQ%3D%3D"
  style="color: rgb(255, 255, 255); text-decoration: underline!important; --darkreader-inline-color: #e8e6e3;"
  target="_blank"> <span data-darkreader-inline-color=""
    style="color: rgb(255, 255, 255); --darkreader-inline-color: #e8e6e3;">Unsubscribe</span> </a>
                                
<img
 src="https://click.na.celebritycruises.com/open.aspx?eyJkZWtJZCI6IjU4OTk0ZTliLTZiMjctNDI0My04Yzc2LTQ2MjgwM2RkNWVlZCIsImRla1ZlcnNpb24iOjEsIml2IjoiQ0RpMUJaSWRjY1FZSndaL3F0bTZ0Zz09IiwiY2lwaGVyVGV4dCI6Imc1UHhjbTY3cEY2MXN2L2dQZWx2dk5NSU9MVUZraDF4eEJnbkJuK3EyYnEyIiwiYXV0aFRhZyI6ImsvRnlicnVrWHJXeS8rQTk2Vys4MHc9PSJ9-eyJkZWtJZCI6IjdmYzIzM2YxLTE0MzAtNDViZi1iYzY5LTdmZDQzMmY2YTZiNiIsImRla1ZlcnNpb24iOjEsIml2Ijoiall1eFY0eWdyRStjbGd3K3BpY3doZz09IiwiY2lwaGVyVGV4dCI6IjJrSjRnOTVkVUpFZXpUY284S3Y5RlNkUVJTQ1V6cjN2all1eFY0eWdyRStjbGd3K3BpY3doZz09IiwiYXV0aFRhZyI6IkhzMDNLUENyL1JVblVFVWdsTTY5N3c9PSJ9-eyJkZWtJZCI6ImMwOGI5ODkyLTIxNjctNGE4Yy05NjZlLTUyZTVlOWM1OGVjZCIsImRla1ZlcnNpb24iOjEsIml2IjoiUkVNckpmUkxTamlQTVZlK0E4S0lmUT09IiwiY2lwaGVyVGV4dCI6ImYvenlURlpiUmdhSVdVZ0M5VnJyY1VaSUMrTFUyMHZacmU5RVF5c2w5RXRLT0k4eFY3NER3b2g5IiwiYXV0aFRhZyI6IlNBTDFXdXR4UmtnTDR0VGJTOW10N3c9PSJ9-eyJkZWtJZCI6ImZkZjk1Nzk1LTc2NTItNDQ0My04MDZkLTI2Y2M4NDdjNjY2MSIsImRla1ZlcnNpb24iOjEsIml2IjoiTXZTbVJlR3oxcG54OStiTGt3WEpzUT0
9IiwiY2lwaGVyVGV4dCI6ImtEZU5NOVFSZ0JQSXF2N2F0aTBSa25Vazh1ZTlmaytSaWpMMHBrWGhzOWFaOGZmbXk1TUZ5YkU9IiwiYXV0aFRhZyI6InF2N2F0aTBSa25Vazh1ZTlmaytSaWc9PSJ9-eyJkZWtJZCI6ImE0NzY3MjBhLTVmN2ItNDU2Zi1hMmRkLTMyYmQ0OGY0NmFiNyIsImRla1ZlcnNpb24iOjEsIml2IjoibEIrWER2c0ZkZkhoM3cyVktpT21Xdz09IiwiY2lwaGVyVGV4dCI6IkVCZnlLTXFOeU9OZ3JXS2YwYk4vSkhGcmNQZWkzSlFmbHc3N0JYWHg0ZDhObFNvanBscz0iLCJhdXRoVGFnIjoieU9OZ3JXS2YwYk4vSkhGcmNQZWkzQT09In0=-eyJkZWtJZCI6IjZiOGRjMmJiLTQwZWItNGJlMy04MjgwLTY1NDEzNzI0YWU5NiIsImRla1ZlcnNpb24iOjEsIml2IjoiSW1mYSszaEVneGhHOWhGUmwxWXdIUT09IiwiY2lwaGVyVGV4dCI6IjhIMkdLMy8ycEhqY2JjaWJ1TXBPR0U0ZjBTUm4zWnppU2MwaVo5cjdlRVNER0ViMkVWR1hWakFkIiwiYXV0aFRhZyI6InlKdTR5azRZVGgvUkpHZmRuT0pKelE9PSJ9-eyJkZWtJZCI6IjMxODE0ZDZjLTg5Y2UtNDk0ZS1iNGJmLTM5ZTVkOGE0Yjk3OCIsImRla1ZlcnNpb24iOjEsIml2IjoiL21vOHV4VFQzdkpjMXA3SytIcEtZZz09IiwiY2lwaGVyVGV4dCI6InZpQzFYSkxoTEVaeExOaUhQZ0dWWS91R0xCaithank3Rk5QZThselduc3I0ZWtwaSIsImF1dGhUYWciOiJrdUVzUm5FczJJYytBWlZqKzRZc0dBPT0ifQ==&d=40152&bmt=0"
 width="1" height="1" alt=""></custom>
                              </td>
                            </tr>
                            <tr>
                              <td align="right" valign="middle"                                 style="text-align: end; width: 10% !important; padding: 0 20px;">
                                <img                                   src="https://image.na.celebritycruises.com/lib/fe31117276640579751279/m/1/df25034f-b444-43de-966c-1d08f461c5d8.png"                                   align="right" alt="CELEBRITY X" border="0" />
                              </td>
                            </tr>
                            <tr>
                              <td style="background: #000000" align="center">
                                <table width="80%" align="center" cellpadding="0" cellspacing="0" border="0"                                   style="border-bottom: 1px solid #000000" class="fluid">
                                  <tr>
                                    <td height="20"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                        </tr>
                        </table>