<!--HERO block-->
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="container" role="presentation"
  style="margin: 0 auto;">
  <tr>
    <td align="center" style="padding: 0 0 20px;">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="container" role="presentation"
        style="margin: 0 auto;">
        <tr>
          <td align="center" style="padding: 0 24px;">
     
              <a target="_blank" href="#" title="BOOK NOW">
                <img alt="Hero Banner" border="0" src="http://localhost:3000/assets/hero.png"
                  style="display: block; width:100%;" width="552">
              </a>

          </td>
        </tr>
      </table>
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
        style="margin:0 auto; max-width:600px;" class="container">
        <tr>
          <td align="center">
            <a href="#"
              target="_blank"><img src="http://localhost:3000/assets/promo.png" alt="SEMI-ANNUAL SALE"
                style="width:100% !important; max-width: 600px !important; height: auto !important; vertical-align: top !important;" width="600" border="0" align="middle"></a>
          </td>
        </tr>
      </table>
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
        style="margin:0 auto;" class="container">
        <tr>
          <td align="center" style="padding:0 24px 10px; font-family: 'Poppins', Arial, sans-serif; font-size: 15px; line-height:24px; color:#333333;">
          
              Plan your port days and make the most of your cruise
            
          </td>
        </tr>
      </table>

    <table cellpadding="0" cellspacing="0" border="0" align="center" class="container" role="presentation" style="margin: 0 auto;">
    <tr>
        <td class="mobile-padding-0-40" align="center" style="padding: 10px 24px 20px;">
           	<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
										<tr>
											<td class="hero-cta" align="center" bgcolor="#E87434" style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #E87434;">
												<a target="_blank" class="buttonstyles" href="#" title="BOOK NOW" style="background: #E87434; border: 1px solid #E87434; padding: 8px 26px; color: #ffffff; font-family: 'Poppins', Arial, sans-serif; font-size: 18px; line-height: 1.1; font-weight:600; text-align: center; text-decoration: none; display: block; border-radius: 10px; -webkit-border-radius: 10px;">BOOK NOW</a>
											</td>
										</tr>
									</table>
        </td>
    </tr>
</table>

    </td>
  </tr>
</table>