<!--HERO block-->
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" role="presentation"
  style="margin: 0 auto;">
  <tr>
    <td align="center" style="padding: 0 0 20px;">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" role="presentation"
        style="margin: 0 auto;">
        <tr>
          <td align="center">
            <div>
              <a target="_blank"
                href="https://click.na.celebritycruises.com/?qs=1eca359fc3d421114376de507176ba6cc700ad6b81d049c1210bfc7f7226ad1b317c4ba313330d968acfcf45b5c9bcb8696a56d24311a3c3e0e288bd5da89eb2"
                title="BOOK NOW">
                <img alt="Hero Banner" border="0" src="http://localhost:3000/assets/hero.png"
                  style="display: block; width:100%;" width="600">
              </a>
            </div>
          </td>
        </tr>
      </table>
      <table role="presentation" width="600" cellpadding="0" cellspacing="0" border="0"
        style="margin:0 auto; max-width:600px;" class="container">
        <tr>
          <td align="center">
            <a href="https://click.na.celebritycruises.com/?qs=9d1d5dd41db40eae9e0cd0ef46cfea8020acedde6b1df719f9a28c111a31efd8a4e9259a96b28b87809438551ec7534021007045db93fe669d6b367bec27beb2"
              target="_blank"><img src="http://localhost:3000/assets/promo.png" alt="SEMI-ANNUAL SALE"
                style="width:100% !important; max-width: 600px !important; height: auto !important; vertical-align: top !important;"
                class="fluid" width="600" border="0" align="middle"></a>
          </td>
        </tr>
      </table>
      <table role="presentation" width="600" cellpadding="0" cellspacing="0" border="0"
        style="margin:0 auto; max-width:600px;" class="container">
        <tr>
          <td align="center"
            style="padding:0 24px 10px; font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; font-size:16px; line-height:24px; color:#333333;">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nulla explicabo illo commodi natus nemo
              soluta? Harum, ab? Quam animi veritatis molestias nisi, iste suscipit saepe. Autem similique sed pariatur!
            </p>
          </td>
        </tr>
      </table>
      <table align="center" role="presentation" width="285" cellpadding="0" cellspacing="0" border="0"
        style="margin:0 auto; max-width:285px;" class="container">
        <tr>
          <td align="center" bgcolor="#E87434"
            style="border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; background-color: #E87434;">
            <a target="_blank" class="buttonstyles"
              href="https://click.na.celebritycruises.com/?qs=1eca359fc3d421114376de507176ba6cc700ad6b81d049c1210bfc7f7226ad1b317c4ba313330d968acfcf45b5c9bcb8696a56d24311a3c3e0e288bd5da89eb2"
              title="Explore Ship Experiences"
              style="background: #E87434; border: 1px solid #E87434; padding: 10px 20px; color: #ffffff; font-family: 'Poppins', Arial, sans-serif; font-size: 15px; line-height: 1.1; font-weight:700; text-align: center; text-decoration: none; display: inline-block; border-radius: 12px; -webkit-border-radius: 12px;">Explore
              Shore Excursions</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>