
<table class="container" role="presentation" width="600" cellpadding="0" cellspacing="0" border="0"
  style="margin:0 auto; max-width:600px;" class="container">
  <tr>
    <td align="center"
      style="padding:0 24px 10px; font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; font-size:16px; line-height:24px; color:green;">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nulla explicabo illo commodi natus nemo
        soluta? Harum
      </p>
    </td>
  </tr>
</table>