<!--THREE COLUMN BLOCK WITH IMAGE, TEXT AND CTA-->
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container" role="presentation" style="margin: 0 auto;">
  <tr>
    <td style="padding: 20px 10px;">
      <table border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;">
        <tr>
          <td class="mobile-padding-0-40" align="left" style="font-size: 28px; line-height: 32px; font-family: 'Poppins', Arial, sans-serif; color: #333333; font-weight: 600; padding: 0 0 20px 10px;">
            Enhance Your Journey - Bundles
          </td>
        </tr>
        <tr>
          <td class="mobile-padding-0-40" align="left" style="font-size: 18px; line-height: 22px; font-family: 'Poppins', Arial, sans-serif; color: #333333; font-weight: 400; padding: 0 0 20px 10px;">
           Complete your plans with bundles that add comfort, value, and convenience.
        </tr>
        </table> 
      <table cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;">
        <tr>
          <!-- Column 1 -->
          <td valign="top" class="responsive-td" style="width: 33%; padding: 0 10px;">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
              <!-- Image -->
              <tr>
                <td class="mobile-padding-0-40" align="center" style="padding-bottom: 15px;">
                  <img src="https://www.celebritycruises.com/media-assets/pmc/content/dam/shore-x/puerto-costa-maya-cmm/cm04-kohunlich-mayan-ruins/stock-photo-chacchoben-mayan-ruins-j-mayan-ruins-at-the-chacchoben-site-in-costa-maya-mexico-1901868983.jpg" alt="Feature 2" width="180" style="display: block; width: 100%; height: auto; max-width: 180px; border: 0;">
                </td>
              </tr>
              <!-- Text -->
              <tr>
                <td align="center" style="padding: 0 5px 15px 5px; font-size: 14px; line-height: 20px; color: #333333;">
                  DAY OF CRUISE<br>
                  PORT or SEA DAY
                </td>
              </tr>
          <!-- CTA Image -->
          <tr>
          <td align="center" style="padding: 10px 0;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="auto" role="presentation" style="margin: 0 auto;">
            <tr>
              <td class="button-cell" bgcolor="#E87434" style="border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;">
              <a target="_blank" class="buttonstyles" style="background: #E87434; color: #FFFFFF; font-family: Poppins, Arial, &quot;sans-serif&quot;; font-size: 14px; line-height: 1.1; font-weight: 700; text-align: center; text-decoration: none; display: inline-block; border: 1px solid #E87434; padding: 10px 30px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;" href="https://click.na.celebritycruises.com/?qs=7d502bdc08176ffad1ac6e3be1d4e6f5582d21dd8b94f18564aa244fb004bb5cf9232360051b9d2dda82ff3038ba27e58a5a6a75c21c4554a83efde9936cf8d6" title="BOOK NOW" data-linkto="https://">BOOK NOW</a>
              </td>
            </tr>
            </table>
          </td>
          </tr>
            </table>
          </td>

          <!-- Column 2 -->
          <td valign="top" class="responsive-td" style="width: 33%; padding: 0 10px;">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
              <!-- Image -->
              <tr>
                <td class="mobile-padding-0-40" align="center" style="padding-bottom: 15px;">
                  <img src="https://www.celebritycruises.com/media-assets/pmc/content/dam/shore-x/puerto-costa-maya-cmm/cm04-kohunlich-mayan-ruins/stock-photo-chacchoben-mayan-ruins-j-mayan-ruins-at-the-chacchoben-site-in-costa-maya-mexico-1901868983.jpg" alt="Feature 2" width="180" style="display: block; width: 100%; height: auto; max-width: 180px; border: 0;">
                </td>
              </tr>
              <!-- Text -->
              <tr>
                <td align="center" style="padding: 0 5px 15px 5px; font-size: 14px; line-height: 20px; color: #333333;">
                  DAY OF CRUISE<br>
                  PORT or SEA DAY
                </td>
              </tr>
          <!-- CTA Image -->
          <tr>
          <td align="center" style="padding: 10px 0;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="auto" role="presentation" style="margin: 0 auto;">
            <tr>
              <td class="button-cell" bgcolor="#E87434" style="border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;">
              <a target="_blank" class="buttonstyles" style="background: #E87434; color: #FFFFFF; font-family: Poppins, Arial, &quot;sans-serif&quot;; font-size: 14px; line-height: 1.1; font-weight: 700; text-align: center; text-decoration: none; display: inline-block; border: 1px solid #E87434; padding: 10px 30px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;" href="https://click.na.celebritycruises.com/?qs=7d502bdc08176ffad1ac6e3be1d4e6f5582d21dd8b94f18564aa244fb004bb5cf9232360051b9d2dda82ff3038ba27e58a5a6a75c21c4554a83efde9936cf8d6" title="BOOK NOW" data-linkto="https://">BOOK NOW</a>
              </td>
            </tr>
            </table>
          </td>
          </tr>
            </table>
          </td>

          <!-- Column 3 -->
          <td valign="top" class="responsive-td" style="width: 33%; padding: 0 10px;">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
              <!-- Image -->
              <tr>
                <td class="mobile-padding-0-40" align="center" style="padding-bottom: 15px;">
                  <img src="https://www.celebritycruises.com/media-assets/pmc/content/dam/shore-x/puerto-costa-maya-cmm/cm04-kohunlich-mayan-ruins/stock-photo-chacchoben-mayan-ruins-j-mayan-ruins-at-the-chacchoben-site-in-costa-maya-mexico-1901868983.jpg" alt="Feature 2" width="180" style="display: block; width: 100%; height: auto; max-width: 180px; border: 0;">
                </td>
              </tr>
              <!-- Text -->
              <tr>
                <td align="center" style="padding: 0 5px 15px 5px; font-size: 14px; line-height: 20px; color: #333333;">
                  DAY OF CRUISE<br>
                  PORT or SEA DAY
                </td>
              </tr>
          <!-- CTA Image -->
          <tr>
          <td align="center" style="padding: 10px 0;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="auto" role="presentation" style="margin: 0 auto;">
            <tr>
              <td class="button-cell" bgcolor="#E87434" style="border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;">
              <a target="_blank" class="buttonstyles" style="background: #E87434; color: #FFFFFF; font-family: Poppins, Arial, &quot;sans-serif&quot;; font-size: 14px; line-height: 1.1; font-weight: 700; text-align: center; text-decoration: none; display: inline-block; border: 1px solid #E87434; padding: 10px 30px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;" href="#" title="BOOK NOW" data-linkto="https://">BOOK NOW</a>
              </td>
            </tr>
            </table>
          </td>
          </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--END THREE COLUMN BLOCK-->
